@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.custom-input {
  outline: none;
  border: none;
}

.custom-input:focus-visible {
  outline: none;
}

/* Custom scrollbar styles */
.scroll-container::-webkit-scrollbar {
 
  height: 5px; /* Adjust the height for horizontal scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  border-radius: 70px;
  background: #e8ecef; /* Background of the scrollbar track */
}

.scroll-container::-webkit-scrollbar-thumb {
  
  background: #343839; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

